@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font */
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

/* Colors */
.accented {
    color: #f44a02;
}

html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: ivory;
}

div::-webkit-scrollbar {
    display: none;
}

.zoomIn {
    cursor: zoom-in;
}

/* Sections */
.section {
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

/*
 * aptop
 */
.wrapper-laptop {
    width: 700px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
 * Monitor - Projects
 */
.monitorScreen {
    opacity: 0;
}

.wrapper-monitor {
    width: 1920px;
    height: 1080px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.folder-closed {
    margin-left: 100rem;
    margin-top: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.folder-icon {
    width: 9rem;
    height: 9rem;
}

/* 
*  ----------  Interface
*/
#interface {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-family: 'Bebas Neue', cursive;
    color: #333;
}
.controls-wrapper {
    position: absolute;
    width: 100%;
    bottom: 2.5rem;
    display: flex;
    justify-content: center;
}
.home-button {
    width: 3.25rem;
    height: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    border: none;
    border-radius: 99%;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    pointer-events: all;
    font-size: 1.25rem;
}
.interface-controls {
    /* width: 256px; */
    /* height: 56px; */
    height: 3.25rem;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;

    /* glass effect */
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    pointer-events: all;
}
.interface-controls button {
    background-color: transparent;
    width: 3.25rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 99%;
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: 700;
}
.label {
    width: 10rem;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-color: #dcdcdc;
}
.label-phase {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
.label-phase-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    color: #848484;
}
.label-phase-content .active {
    font-weight: 700;
    color: #333;
    transition-duration: 0.5s;
}

/*
* ---------- Loading Laptop
*/
